@mixin baElements ($w, $h) {
  content: "";
  display: inline-block;
  width: $w;
  height: $h;
}

@mixin baImages ($w, $h, $url) {
  @include baElements($w, $h);

  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin dis2x {
  display: flex;
  align-items: center;
}

@mixin dis3x {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond ($breakpoint) {

  @if ($breakpoint==macs) {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if ($breakpoint==tablets) {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if ($breakpoint==phones) {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
}