$color-midnight-green: rgba(1, 78, 86, 1);
$color-white: #fff;
$color-light-coral: rgba(246, 126, 126, 1);
$color-dark-green:rgba(0, 37, 41, 1);
$color-rapture-blue: rgba(121, 200, 199, 1);
$color-sacramento-green: rgba(1, 47, 52, 1);
$color-jungle-green: rgba(0, 64, 71, 1);
$color-police-green: rgba(44, 98, 105, 1);