.footer {
    padding: 4.8rem 0;
    background: $color-dark-green;

    @include respond (phones) {
        padding-top: 6.6rem;
        padding-bottom: 6.4rem;
    }
}

.footer__wrapper {
    display: flex;

    @media only screen and (max-width: 50em) {
        display: none;
    }

    @include respond (phones) {
        display: flex;
        flex-direction: column;
        padding: 0 9px;
        align-items: center;
    }

}

.tablets__footer__wrapper {
    display: none;
    padding: 8px 2.5rem;

    @media only screen and (max-width: 50em) {

        display: flex;
        justify-content: space-between;
    }

    @include respond (phones) {
        display: none;
    }
}

.footer__block1 {
    @include respond (phones) {
        text-align: center;
    }
}


.footer__last__p {

    @media only screen and (max-width: 50em) {
        margin-top: 5.4rem;
    }

    @include respond (phones) {
        margin-top: 1.6rem;
    }
}

.footer__logo {
    width: 16rem;
    height: 4rem;

    @include respond (phones) {
        width: 9.6rem;
        height: 2.4rem;
    }
}

.footer__ul {
    margin-left: 0;
    margin-top: 2.5rem;

    @media only screen and (max-width: 50em) {
        margin-top: 5.3rem;
    }

    @include respond (phones) {
        margin-top: 2.4rem;
    }
}

.footer__block2 {
    margin-left: 12.5rem;

    @media only screen and (max-width: 50em) {
        margin-left: 0;
        text-align: right;
    }

    @include respond (phones) {
        text-align: center;
        margin-top: 2.4rem;
    }
}

.nav__link--1 {
    @include respond (phones) {
        margin-right: 2.4rem !important;
    }
}

.footer__p {
    opacity: .6 !important;
}

.footer__block3 {
    text-align: right;
    margin-left: auto;

    @include respond (phones) {
        text-align: center;
        margin-left: 0;
    }
}

.svg__wrapper {
    margin-bottom: 5.1rem;

    @media only screen and (max-width: 50em) {
        margin-bottom: 0;
        margin-top: 3.3rem;
    }

    @include respond (phones) {
        margin-top: 4rem;
    }
}


.icon {
    width: 2.4rem;
    height: 2.4rem;
    color: $color-white;
    transition: .3s;
}

.icon:not(:last-child) {
    margin-right: 1.6rem;
}

.icon:hover {
    color: $color-light-coral;
    cursor: pointer;
}