.stick {
    display: inline-block;
    width: 5rem;
    height: 0.4rem;
    background: $color-rapture-blue;
}

.build__right--blocks {
    position: relative;
}

.build__right--blocks::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7.2rem;
    height: 7.2rem;

    position: absolute;
    left: -2.3rem-7.2rem;

    @include respond (phones) {
        left: 50%;
        top: -8rem;
        transform: translateX(-50%);
    }
}


.results--cards {
    max-width: 35rem;
    text-align: center;

    @include respond (tablets) {
        max-width: 57.3rem;
        margin-bottom: 4.8rem;
    }


}

.results--cards:before {
    content: '';
    display: inline-block;
    background-image: url(../../images/lines.png);
    background-repeat: no-repeat;
    background-size: 6.7rem 5.6rem;
    width: 6.7rem;
    height: 5.6rem;
    margin-bottom: -22px;
}

.italic {
    font-style: italic;
}

.weight500 {
    font-weight: 500 !important;
}