.stick {
    display: inline-block;
    width: 5rem;
    height: 0.4rem;
    background: $color-rapture-blue;
}

.build__right--blocks {
    position: relative;
}

.build__right--blocks::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7.2rem;
    height: 7.2rem;

    position: absolute;
    left: -2.3rem-7.2rem;
}


.results--cards {
    max-width: 35rem;
    text-align: center;
    // position: relative;
}

.results--cards:before {
    content: '';
    display: inline-block;
    background-image: url(../../images/lines.png);
    background-repeat: no-repeat;
    background-size: 6.7rem 5.6rem;
    width: 6.7rem;
    height: 5.6rem;
    margin-bottom: -22px;
}

.results--cards::after {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6.2rem;
    height: 6.2rem;
    margin-top: 3.2rem;
}