.hero__h1 {
    max-width: 60rem;
    font-weight: bold;
    font-size: 10rem;
    line-height: 10rem;
    color: $color-white;

    @include respond (tablets) {
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 5.6rem;
        text-align: center;
        max-width: 39rem;
    }

    @include respond (phones) {
        font-size: 4rem;
        line-height: 4rem;
        max-width: 24rem;
    }
}

.h3 {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 4.8rem;
    color: $color-white;

    @include respond (tablets) {
        font-size: 3.2rem;
        line-height: 3.2rem;
    }
}

.small--p {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: $color-white;
}

.middle--p {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: $color-white;
}

.large--p {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-white;
}